# Python ile ilgili dosyalar
__pycache__/
*.py[cod]
*.pyo
*.pyd

# virtual environment
env/
venv/
ENV/
.venv/

# IDE ve editör dosyaları
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Pytest ve diğer test dosyaları
*.coverage
*.egg-info/
dist/
build/
*.log

# Node.js ile ilgili dosyalar (frontend için)
node_modules/
npm-debug.log
yarn-error.log

# .env dosyaları (gizli bilgiler için)
.env

# Diğer geçici dosyalar
*.DS_Store
