# Genel
.DS_Store
Thumbs.db
*.log
*.env
*.local

# Python - Backend
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
venv/
env/
ENV/
.venv/
.pytest_cache/
.cache/
instance/
*.sqlite3
*.sqlite
*.pkl
*.h5
*.hdf5

# Jupyter Notebooks
.ipynb_checkpoints/

# FastAPI
*.db
*.sqlite3

# Vue.js - Frontend
node_modules/
dist/
*.local
*.env.*
*.npmrc
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS ve Linux
.idea/
.vscode/
*.swp
.swo
